<form [formGroup] = "formElements">
  <div class="container">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        formControlName="username"
        id="username"
        type="text"
        class="form-control">
      <div *ngIf = "username.pending">checking for uniqueness..r</div>
      <!--<span *ngIf="username.touched && username.invalid" class="alert alert-danger"> Username is required</span>-->
      <div *ngIf="username.touched && username.errors.required"> Username is required</div>
      <div *ngIf="username.errors.minlength"> Username should be minimum {{username.errors.minlength.requiredLength}}</div>
      <div *ngIf="username.errors.cannotContainSpace"> Username should not contain space</div>
      <div *ngIf="username.errors.shouldBeUnique"> Username should be unique</div>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="text"
        class="form-control">
      <span *ngIf="password.touched && password.invalid" class="alert alert-danger"> password is required</span>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>
