<form #form="ngForm" (ngSubmit)="submit(form)">
  <div class="container">
    <div ngModelGroup="contact" #contact="ngModelGroup" (click)="log(contact)">
      <div class="form-group">
        <label for="firstName">FirstName</label>
        <input required type="text" id="firstName" ngModel name="firstName" #firstName="ngModel"
               (focus)="log(firstName)"
               class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is Required</div>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ngModel name="isSubscribed"> subscribe to mailing list
        </label>
      </div>
      <div class="form-group">
        <label for="contactMethod">
          <select name="" id="contactMethod">
            <option value=""></option>
            <option *ngFor="let method of contactMethod" [value] = "method.id">{{method.name}}</option>
          </select>
        </label>
        </div>
      <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </div>
  </div>

</form>
