<!-- <form #subCategory="ngForm" (keyup.enter) = "createSubCategory(subcategory)" 
      class="form-control">
      <div>
  <label for="subCategoryName" class="form-group">Enter subcategory name</label>
  <input type="text" name="subCategoryName">
</div>
<select>
  <option *ngFor = "let object of subCategoryObject" value={{object.subcategoryId}}>{{object.subcategoryName}}</option>
</select>
</form>  -->

<ul class="list-group">
  <li *ngFor="let subcategory of subcategory"
      class="list-group-item">{{ subcategory.subcategoryName}}
  </li>
</ul>
