
<!-- <nav class="nav-navbar navbar-inverse">
    <ul class="nav nav-pills">
        <li [class.active] = "viewMode == 'map'" class="nav-item">
            <a (click) = "viewMode = 'map'">List view</a>
        </li>
        <li [class.active] = "viewMode == 'list'">
            <a (click) = "viewMode = 'list'">Map view</a>
        </li>
    </ul>
</nav>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Default view</div>
</div> -->
<!--<app-contact-form></app-contact-form>-->
<!--<signup-form></signup-form>-->
<!--<app-new-form-control></app-new-form-control>-->
<app-subcategory></app-subcategory>

